.gradle/
.kotlin/
.idea/
**/build/
!src/**/build/
local.properties
*.iml
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
*.jks
*.keystore
*.p12
*.pem
*.key
*.mobileprovision
*.xcuserstate
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
